<.header>
  New Product
  <:subtitle>Use this form to manage product records in your database.</:subtitle>
</.header>

<.product_form changeset={@changeset} action={~p"/products"} categories={@categories}/>

<.back navigate={~p"/products_live"}>Back to products</.back>
